@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
--primary-color: #2a81e2;
--secondary-color: #59c3c3;
--accent-color: #551A8B;
--text-dark: #333333;
--text-light: #FFFFFF;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: Mooli, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    font-family: var(--secondary-font);
    font-size: 1.2em;
    text-align: center;
}

header {
    padding-bottom: 10px;
    background-color: var(--primary-color);
    color: var(--text-light);
}

h1 {
    margin: 0 auto;
    padding: 30px 0;
}

.menu-btn {
    cursor: pointer;
    all: unset;
    display: block;
    margin: 0 auto;
    padding: 3px 0;
    font-size: 1.4em;
}

nav a {
    display: none;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

img {
	max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #424242;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px 0;
}

p {
    margin: 0;
}

@media screen and (min-width: 700px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    section {
        grid-template-columns: repeat(3, 1fr);
    }
}