@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica, sans-serif;
--secondary-font: Mooli, sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
}

h1, h2 {
    font-family: var(--secondary-font);
    text-align: center;
    margin: 0;
}

nav {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    justify-content:space-around;
}

a {
    color: var(--text-light);
    text-decoration: underline;
    margin: 40px;
    display: block;
    margin: 20px 0px 20px 0px;
}

a:hover {
    color: #0056b3;
}

a:link,
a:visited {
    color: var(--accent-color);
}

.viewer {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.close-viewer {
    display: block;
    text-align: right;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
}

figure {
    margin: 0 auto;
}

img {
	max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

footer p {
    margin: 0;
}

.menu-button {
    all: unset;
    display: block;
    margin: 0 auto;
    font-size: 2em;
}

.hide {
    display: none;
}

@media screen and (min-width: 820px) {

    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1030px) {
    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-button {
        display: none;
    }

    nav ul {
        flex-direction: row;
    }
}